{% extends 'base.html.twig' %}

{% block title %}Packages from Favorites{% endblock %}

{% block body %}
    <style>
        #favoritesAccordion {
            --bs-accordion-active-bg: inherit;
            --bs-accordion-active-color: inherit;
            --bs-accordion-btn-focus-box-shadow: none;
        }
    </style>

    <main class="container mt-4">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>Packages from Favorites</h1>
                <div class="row mt-4">
                    <div class="col">
                        <div class="accordion" id="favoritesAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#favoriteBusinesses"
                                    >
                                        Favorite Businesses
                                    </button>
                                </h2>
                                <div
                                    id="favoriteBusinesses"
                                    class="accordion-collapse collapse"
                                    data-bs-parent="#favoritesAccordion"
                                >
                                    <div class="accordion-body p-0">
                                        <ul class="list-group list-group-flush">
                                            {% for favBusiness in favoriteBusinesses %}
                                                {% set business = favBusiness.business %}
                                                <li class="list-group-item">
                                                    <a href="{{ path('app_business_view', {id: business.id}) }}">
                                                        {{ business.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include "package/_filters.html.twig" with {form: form} %}
                <div class="row g-4 mt-2">
                    {% include "package/_package_grid.html.twig" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
