{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
<main class="container mt-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>All Orders</h1>
            {% include "order/_table.html.twig" with {orders: orders, showActions: false} %}
        </div>
    </div>
</main>
{% endblock %}
